[submodule "src/realsense2_camera"]
	path = src/realsense2_camera
	url = https://github.com/realsenseai/realsense-ros.git
[submodule "realsense-ros"]
	path = realsense-ros
	url = https://github.com/realsenseai/realsense-ros.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/realsenseai/realsense-ros.git
